In [137]:
import pandas as pd 
import numpy as np
import sys
import collections

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
data = pd.read_csv("./data/seattle_individual_listing_details.csv", sep='|', quotechar= '"', encoding= 'utf8')

In [3]:
data.head(2)

,id,amendities,numBedrooms,numBaths,price,neighborhoodSummary,listingLoc,reviewTotal,listingHouseType,monthsString,numBeds,listingNm,availableDts,reviewStar,numGuests
0,9013441,Amenities\nBasic\nWifi\nContinuous access in t...,1 bedroom,1 bath,$116,NaN,Seattle,104,Entire guest suite,NaN,1 bed,Apt w/kitchen & deck 1.5 blocks from light rail,NaN,5,3 guests
1,23073963,Amenities\nBasic\nWifi\nContinuous access in t...,2 bedrooms,1 bath,$101,"High above the shores of Lake Washington, minu...",Seattle,3,Entire guest suite,"July 2019,August 2019,September 2019,October 2019",2 beds,Midcentury Dream near Beautiful Seward Park!,"0,0,0,0",5,4 guests

In [21]:
###############################################################################################
##I got the listing in 3 seperate times, so the columns order is different for the 3 times
##seperate the whole dataset into the 3 chuck and reconcat them together at the right columns

####seperate into 3 parts
part1 = data[0:1318]
part2 = data[1319:2465]
part3 = data[2466:2713]

####cleaning the 3 parts
##remove 101 row from part1
part1 = part1.drop(part1.index[101])

##make row 1319 into colnames
part2.columns = part2.iloc[0]
part2 = part2.iloc[pd.RangeIndex(len(part2)).drop(0)]

##make row 2466 into colnames
part3.columns = part3.iloc[0]
part3 = part3.iloc[pd.RangeIndex(len(part3)).drop(0)]

####combine part1, part2, part3  by columnnames
listingDt =pd.concat([part1, part2, part3], ignore_index=True)

In [49]:
listingDt[0:2]

,amendities,availableDts,id,listingHouseType,listingLoc,listingNm,monthsString,neighborhoodSummary,numBaths,numBedrooms,numBeds,numGuests,price,reviewStar,reviewTotal
0,Amenities\nBasic\nWifi\nContinuous access in t...,NaN,9013441,Entire guest suite,Seattle,Apt w/kitchen & deck 1.5 blocks from light rail,NaN,NaN,1 bath,1 bedroom,1 bed,3 guests,$116,5,104
1,Amenities\nBasic\nWifi\nContinuous access in t...,"0,0,0,0",23073963,Entire guest suite,Seattle,Midcentury Dream near Beautiful Seward Park!,"July 2019,August 2019,September 2019,October 2019","High above the shores of Lake Washington, minu...",1 bath,2 bedrooms,2 beds,4 guests,$101,5,3

In [51]:
#####Some crosstab of the dataset
# columnIndex= [3,4,6,8,9,10,11,13, 14]
# columnNm= [list(listingDt)[i] for i in columnIndex]

# for column in columnNm:
#     ctable = pd.crosstab(index=listingDt[column], columns="count")
#     print(ctable)

In [53]:
##listingHouseType
ctable = pd.crosstab(index=listingDt['listingHouseType'], columns="count")
ctable

##There is a lot different levels in listingHouseType, we will need to group similar ones together
##Grouping Logic

##['Boat', 'Houseboat'] -> 'Houseboat'
##['Camper/RV', 'Tent'] -> 'Camper/RV/Tent'
##['Entire apartment', 'Entire condominium', 'Entire guest suite', 'Entire loft', 'Entire serviced apartment'] -> 'Entire Apartment'
##['Entire bungalow', 'Entire cabin', 'Entire cottage', 'Entire guesthouse', 'Entire house', 'Entire in-law', 'Entire townhouse', 'Tiny house'] -> 'Entire House'

##['Private room in apartment', 'Private room in condominium', 'Private room in guest suite', 'Private room in serviced apartment'] -> 'Private Room in Apartment'
##['Private room in bungalow', 'Private room in cabin', 'Private room in cottage', 'Private room in dome house','Private room in guesthouse', 'Private room in house', 'Private room in townhouse', 'Private room in villa'] -> 'Private Room in House'
##['Private room in bed and breakfast', 'Room in hotel', 'Private room in casa particular (cuba)'] -> 'Private Room in Hotel'

col_0                                   count
listingHouseType
Boat                                        3
Camper/RV                                   7
Entire apartment                          790
Entire bungalow                            20
Entire cabin                               12
Entire condominium                         98
Entire cottage                             32
Entire guest suite                        452
Entire guesthouse                         123
Entire house                              266
Entire in-law                               2
Entire loft                                31
Entire serviced apartment                  52
Entire townhouse                           63
Houseboat                                   2
Private room in apartment                  52
Private room in bed and breakfast           9
Private room in bungalow                   11
Private room in cabin                       2
Private room in casa particular (cuba)      1
Private room in condominium                 9
Private room in cottage                     4
Private room in dome house                  3
Private room in guest suite                35
Private room in guesthouse                  3
Private room in house                     388
Private room in serviced apartment          2
Private room in townhouse                 115
Private room in villa                       2
Room in hotel                               1
Tent                                        1
Tiny house                                 17

In [62]:
##monthsString
ctable = pd.crosstab(index=listingDt['monthsString'], columns="count")

##remove monthsString
listingDt = listingDt.drop('monthsString', 1)
##this is the months for each availables dates in the calendar 
##it's the same string 'July 2019, August 2019, Sepetermber 2019, October 2019' for all the records, remove 
##for availableDts, break it up into 3 columns: available dates in August/Sepetember/October

In [63]:
##numBaths
ctable = pd.crosstab(index=listingDt['numBaths'], columns="count")
ctable

##group 0 baths, 0 shared baths together -> 0 bath
##group 1 bath, 1 private bath -> 1 bath
##map half bath -> 0.5 bath

##seperate numBaths into 2 columns
##numBathNew : the numbers of baths
##sharedBath : Indicator whether the bath is shared

col_0             count
numBaths
0 baths               1
0 shared baths        2
1 bath             1810
1 private bath      257
1 shared bath       205
1.5 baths            96
1.5 shared baths     64
2 baths              73
2 shared baths       32
2.5 baths            23
2.5 shared baths      8
3 baths               9
3 shared baths        8
3.5 baths             4
4 baths               2
Half-bath             7

In [76]:
##numBedrooms
ctable = pd.crosstab(index=listingDt['numBedrooms'], columns="count")
ctable

col_0        count
numBedrooms
1 bedroom     1635
2 bedrooms     357
3 bedrooms      75
4 bedrooms       9
5 bedrooms       6
Studio         519

In [81]:
##numBeds

##remove beds and convert this to integer
listingDt['numBeds'] = listingDt['numBeds'].str.split(' ', n = 1, expand = True)[0].astype(float)
ctable = pd.crosstab(index=listingDt['numBeds'], columns="count")
ctable

col_0    count
numBeds
0.0         21
1.0       1520
2.0        729
3.0        222
4.0         81
5.0         14
6.0          8
7.0          1
8.0          4
11.0         1

In [85]:
##numGuests
ctable = pd.crosstab(index=listingDt['numGuests'], columns="count")
ctable

##remove guest and convert this to float, make 16+ into 16
listingDt['numGuestsNew'] = listingDt['numGuests'].str.split(' ', n = 1, expand = True)[0]
listingDt['numGuestsNew'] = np.where(listingDt['numGuestsNew'] == "16+", "16", listingDt['numGuestsNew']).astype(float)
ctable = pd.crosstab(index=listingDt['numGuestsNew'], columns="count")
ctable

col_0       count
numGuests
1 guest        40
10 guests       3
12 guests       3
13 guests       1
14 guests       1
15 guests       2
16+ guests      1
2 guests     1289
3 guests      326
4 guests      607
5 guests      124
6 guests      153
7 guests       17
8 guests       32
9 guests        2

col_0         count
numGuestsNew
1.0              40
2.0            1289
3.0             326
4.0             607
5.0             124
6.0             153
7.0              17
8.0              32
9.0               2
10.0              3
12.0              3
13.0              1
14.0              1
15.0              2
16.0              1

In [86]:
##price
##remove dollar sign and convert this to float
listingDt['priceNew'] = (listingDt['price'].str.split('$', n = 1, expand = True)[1]).astype(float)
listingDt['priceNew'][0:10]

0    116.0
1    101.0
2    113.0
3     90.0
4     77.0
5    111.0
6     80.0
7     92.0
8     90.0
9     80.0
Name: priceNew, dtype: float64

In [87]:
##reviewStar
ctable = pd.crosstab(index=listingDt['reviewStar'], columns="count")
ctable

# ##remove guest and convert this to float, make 16+ into 16
# listingDt['numGuestsNew'] = listingDt['numGuests'].str.split(' ', n = 1, expand = True)[0]
# listingDt['numGuestsNew'] = np.where(listingDt['numGuestsNew'] == "16+", "16", listingDt['numGuestsNew']).astype(float)
# ctable = pd.crosstab(index=listingDt['numGuestsNew'], columns="count")
# ctable

col_0       count
reviewStar
2.5             2
3.5            14
4              52
4.5           547
5            1825

In [88]:
##availableDts
##availableDts is string contains 4 integer in the form 1,2,3,4
#1 is the available dates in July
#2 is the available dates in August
#3 is the available dates in September
#4 is the available dates in November


##since I scrapped the data in August 18
##we will seperate #2, #3, #4 in 3 columns to show the available dates for each months

listingDt['availableDtsAug'] = (listingDt['availableDts'].str.split(',', expand = True)[1]).astype(float)
listingDt['availableDtsSep'] = (listingDt['availableDts'].str.split(',', expand = True)[2]).astype(float)
listingDt['availableDtsNov'] = (listingDt['availableDts'].str.split(',', expand = True)[3]).astype(float)

(listingDt[['availableDts','availableDtsAug', 'availableDtsSep','availableDtsNov']]).head()

  availableDts  availableDtsAug  availableDtsSep  availableDtsNov
0          NaN              NaN              NaN              NaN
1      0,0,0,0              0.0              0.0              0.0
2      0,0,0,0              0.0              0.0              0.0
3      0,2,8,0              2.0              8.0              0.0
4    0,7,20,31              7.0             20.0             31.0

In [134]:
##amendities
##amendities is string contains all the amendities available

for x in ((listingDt['amendities'])[1:2]).str.split('\n'):
    print(x )
    print('\n')
    
##This string includes both amendities and comments
##to remove comments, remove string that have >= 5 words 

##Amentities Listings has about 9 different subgroups
##Basic
##Family features
##Facilities
##Dining
##Guest access
##Logistics
##Bed and bath
##Safety features
##Not included

##seperate these 9 subgroups into different columns

###Step1: filter out string with >= 5 words, those are highly likely to be comments
def removeComments(amenityString):
#     print(amenityString)
    amenities = []
    for x in amenityString.split('\n'):
        wordCounts = len(x.split(' '))
        if wordCounts < 5:
            amenities.append(x)
     
    amenitiesString = '\n'.join(str(elem) for elem in amenities)
    return amenitiesString

###Step2: Break amenity string into subgroups
def getSubAmenities(amenityString):
    subAmenities = ['Basic', 'Family features', 'Facilities', 'Dining', 'Guest access', 'Logistics', 'Bed and bath', 'Safety features', 'Not included']
    ##get substring that exists in amenityString
    subAmenitiesExist = [x for x in subAmenities if x in amenityString]
#     print(*subAmenitiesExist)
    
    subAmenitiesStrings = []
    for x in subAmenities:
        if not x in subAmenitiesExist:
            subAmenitiesStrings.append(None)
        else:
            startIndex = int(amenityString.index(x))
#             print(startIndex)
            ##find the index of the element after x in subAmenitiesExist
            indexXNext = subAmenitiesExist.index(x) + 1
            if indexXNext == len(subAmenitiesExist): #x is the last element
                endIndex = int(len(amenityString))
            else:
                endIndex = int(amenityString.index(subAmenitiesExist[indexXNext]) - 1)
#             print(endIndex)
            AmenitiesStr = amenityString[startIndex: endIndex]
            subAmenitiesStrings.append(AmenitiesStr)
    subAmenitiesStrings = ','.join(str(elem) for elem in subAmenitiesStrings)
    return subAmenitiesStrings


##put step1, step2 together
def amenityProcessing(amenityString):
    amenityStep1 = removeComments(amenityString)
#     print(amenityStep1)
    amenityStep2 = getSubAmenities(amenityStep1)
    return amenityStep2


##Apply step1, step2 to the whole dataframe
listingDt['amenityString'] = listingDt['amendities'].astype(str).apply(amenityProcessing)

listingDt['amenityBasic'] = (listingDt['amenityString'].str.split(',', expand = True)[0]).str.split('\n', n=1, expand = True)[1]
listingDt['amenityFamily'] = (listingDt['amenityString'].str.split(',', expand = True)[1]).str.split('\n', n=1, expand = True)[1]
listingDt['amenityFacilities'] = (listingDt['amenityString'].str.split(',', expand = True)[2]).str.split('\n', n=1, expand = True)[1]
listingDt['amenityDining'] = (listingDt['amenityString'].str.split(',', expand = True)[3]).str.split('\n', n=1, expand = True)[1]
listingDt['amenityAccess'] = (listingDt['amenityString'].str.split(',', expand = True)[4]).str.split('\n', n=1, expand = True)[1]
listingDt['amenityLogistics'] = (listingDt['amenityString'].str.split(',', expand = True)[5]).str.split('\n', n=1, expand = True)[1]
listingDt['amenityBB'] = (listingDt['amenityString'].str.split(',', expand = True)[6]).str.split('\n', n=1, expand = True)[1]
listingDt['amenitySafety'] = (listingDt['amenityString'].str.split(',', expand = True)[7]).str.split('\n', n=1, expand = True)[1]
listingDt['amenityNotIn'] = (listingDt['amenityString'].str.split(',', expand = True)[8]).str.split('\n', expand = True)[2]

listingDt[['amenityString', 'amenityBasic', 'amenityFamily', 'amenityFacilities', 'amenityDining', 'amenityAccess',
          'amenityLogistics', 'amenityBB', 'amenitySafety', 'amenityNotIn']].head()

['Amenities', 'Basic', 'Wifi', 'Continuous access in the listing', 'Air conditioning', 'Dryer', 'In the building, free or for a fee', 'Laptop friendly workspace', 'A table or desk with space for a laptop and a chair that’s comfortable to work in', 'Washer', 'In the building, free or for a fee', 'TV', 'Iron', 'Essentials', 'Towels, bed sheets, soap, and toilet paper', 'Heating', 'Central heating or a heater in the listing', 'Hot water', 'Family features', 'Bathtub', 'Facilities', 'Free parking on premises', 'Free street parking', 'Dining', 'Kitchen', 'Space where guests can cook their own meals', 'Coffee maker', 'Dishes and silverware', 'Dishwasher', 'Microwave', 'Refrigerator', 'Oven', 'Stove', 'Guest access', 'Keypad', 'Check yourself into the home with a door code', 'Private entrance', 'Separate street or building entrance', 'Logistics', 'Luggage dropoff allowed', "For guests' convenience when they have early arrival or late departure", 'Long term stays allowed', 'Allow stay for 28 days or more', 'Bed and bath', 'Hangers', 'Hair dryer', 'Shampoo', 'Outdoor', 'Garden or backyard', 'Location', 'Lake access', 'Safety features', 'Carbon monoxide detector', 'Smoke detector']

,amenityString,amenityBasic,amenityFamily,amenityFacilities,amenityDining,amenityAccess,amenityLogistics,amenityBB,amenitySafety,amenityNotIn
0,Basic\nWifi\nCable TV\nDryer\nLaptop friendly ...,Wifi\nCable TV\nDryer\nLaptop friendly workspa...,Bathtub\nChildren’s books and toys\nChildren’s...,Free street parking,Kitchen\nCoffee maker\nCooking basics\nDishes ...,Lockbox\nPrivate entrance,Luggage dropoff allowed\nLong term stays allowed,Hangers\nHair dryer\nShampoo\nBed linens\nExtr...,Fire extinguisher\nCarbon monoxide detector\nS...,Air conditioning
1,Basic\nWifi\nAir conditioning\nDryer\nLaptop f...,Wifi\nAir conditioning\nDryer\nLaptop friendly...,Bathtub,Free parking on premises\nFree street parking,Kitchen\nCoffee maker\nDishes and silverware\n...,Keypad\nPrivate entrance,Luggage dropoff allowed\nLong term stays allowed,Hangers\nHair dryer\nShampoo\nOutdoor\nGarden ...,Carbon monoxide detector\nSmoke detector,None
2,Basic\nAir conditioning\nEssentials\nHeating\n...,Air conditioning\nEssentials\nHeating\nHot wat...,High chair\nPack ’n Play/travel crib,Free parking on premises\nHot tub,Coffee maker\nDishes and silverware\nDishwashe...,Lockbox\nPrivate entrance,None,Hair dryer\nShampoo\nOutdoor\nPatio or balcony,Fire extinguisher\nCarbon monoxide detector\nS...,Washer
3,Basic\nWifi\nDryer\nLaptop friendly workspace\...,Wifi\nDryer\nLaptop friendly workspace\nWasher...,None,Free parking on premises\nFree street parking,Kitchen\nCoffee maker\nDishes and silverware\n...,Lockbox\nPrivate entrance,Luggage dropoff allowed\nLong term stays allowed,Hangers\nHair dryer\nShampoo\nBed linens\nExtr...,Carbon monoxide detector\nSmoke detector\nFirs...,Air conditioning
4,Basic\nWifi\nDryer\nLaptop friendly workspace\...,Wifi\nDryer\nLaptop friendly workspace\nWasher...,None,Elevator,Kitchen\nCoffee maker\nCooking basics\nDishes ...,Lockbox,None,Hangers\nHair dryer\nShampoo\nBed linens\nExtr...,Carbon monoxide detector\nSmoke detector,Air conditioning

In [57]:
###Mapping listingHouseType
HouseTypeMapping = dict.fromkeys(['Boat', 'Houseboat'] , 'Houseboat')
HouseTypeMapping.update(dict.fromkeys(['Camper/RV', 'Tent'] , 'Camper/RV/Tent'))
HouseTypeMapping.update(dict.fromkeys(['Entire apartment', 'Entire condominium', 'Entire guest suite', 'Entire loft', 'Entire serviced apartment'] , 'Entire Apartment'))
HouseTypeMapping.update(dict.fromkeys(['Entire bungalow', 'Entire cabin', 'Entire cottage', 'Entire guesthouse', 'Entire house', 'Entire in-law', 'Entire townhouse', 'Tiny house'] , 'Entire House'))

HouseTypeMapping.update(dict.fromkeys(['Private room in apartment', 'Private room in condominium', 'Private room in guest suite', 'Private room in serviced apartment'] , 'Private Room in Apartment'))
HouseTypeMapping.update(dict.fromkeys(['Private room in bungalow', 'Private room in cabin', 'Private room in cottage', 'Private room in dome house','Private room in guesthouse', 'Private room in house', 'Private room in townhouse', 'Private room in villa'] , 'Private Room in House'))
HouseTypeMapping.update(dict.fromkeys(['Private room in bed and breakfast', 'Room in hotel', 'Private room in casa particular (cuba)'] , 'Private Room in Hotel'))


listingDt["listingHouseTypeGroup"] = listingDt["listingHouseType"].map(HouseTypeMapping).fillna(listingDt["listingHouseType"])
                        
# listingHouseTypeCross = pd.crosstab(index=listingDt["listingHouseTypeGroup"], 
#                            columns=listingDt["listingHouseType"])

# listingHouseTypeCross

listingHouseType,Boat,Camper/RV,Entire apartment,Entire bungalow,Entire cabin,Entire condominium,Entire cottage,Entire guest suite,Entire guesthouse,Entire house,...,Private room in dome house,Private room in guest suite,Private room in guesthouse,Private room in house,Private room in serviced apartment,Private room in townhouse,Private room in villa,Room in hotel,Tent,Tiny house
listingHouseTypeGroup,,,,,,,,,,,,,,,,,,,,,
Camper/RV/Tent,0,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
Entire Apartment,0,0,790,0,0,98,0,452,0,0,...,0,0,0,0,0,0,0,0,0,0
Entire House,0,0,0,20,12,0,32,0,123,266,...,0,0,0,0,0,0,0,0,0,17
Houseboat,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Private Room in Apartment,0,0,0,0,0,0,0,0,0,0,...,0,35,0,0,2,0,0,0,0,0
Private Room in Hotel,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Private Room in House,0,0,0,0,0,0,0,0,0,0,...,3,0,3,388,0,115,2,0,0,0

In [75]:
##Cleanup numBaths
###Mapping listingHouseType
numBathMapping = dict.fromkeys(['0 baths', '0 shared baths'] , '0 Baths')
numBathMapping.update(dict.fromkeys(['1 bath', '1 private bath'] , '1 Bath'))
numBathMapping.update(dict.fromkeys(['Half-bath'] , '0.5 Bath'))

listingDt["numBathGroup"] = listingDt["numBaths"].map(numBathMapping).fillna(listingDt["numBaths"])
listingDt["numBathNew"] = (listingDt['numBathGroup'].str.split(' ', n = 1, expand = True)[0]).astype(float)
listingDt["sharedBath"] = np.where(listingDt['numBathGroup'] == '0 Baths', -1, np.where(listingDt['numBathGroup'].str.contains('shared'), 1, 0))

bathNumCross = pd.crosstab(index=listingDt["numBathNew"], 
                           columns=listingDt["numBathGroup"])

bathSharedCross = pd.crosstab(index=listingDt["sharedBath"], 
                           columns=listingDt["numBathGroup"])

bathNumCross 
bathSharedCross

numBathGroup,0 Baths,0.5 Bath,1 Bath,1 shared bath,1.5 baths,1.5 shared baths,2 baths,2 shared baths,2.5 baths,2.5 shared baths,3 baths,3 shared baths,3.5 baths,4 baths
numBathNew,,,,,,,,,,,,,,
0.0,3,0,0,0,0,0,0,0,0,0,0,0,0,0
0.5,0,7,0,0,0,0,0,0,0,0,0,0,0,0
1.0,0,0,2067,205,0,0,0,0,0,0,0,0,0,0
1.5,0,0,0,0,96,64,0,0,0,0,0,0,0,0
2.0,0,0,0,0,0,0,73,32,0,0,0,0,0,0
2.5,0,0,0,0,0,0,0,0,23,8,0,0,0,0
3.0,0,0,0,0,0,0,0,0,0,0,9,8,0,0
3.5,0,0,0,0,0,0,0,0,0,0,0,0,4,0
4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,2

numBathGroup,0 Baths,0.5 Bath,1 Bath,1 shared bath,1.5 baths,1.5 shared baths,2 baths,2 shared baths,2.5 baths,2.5 shared baths,3 baths,3 shared baths,3.5 baths,4 baths
sharedBath,,,,,,,,,,,,,,
-1,3,0,0,0,0,0,0,0,0,0,0,0,0,0
0,0,7,2067,0,96,0,73,0,23,0,9,0,4,2
1,0,0,0,205,0,64,0,32,0,8,0,8,0,0

In [142]:
###Look at the data, after all the cleaning
listingDt.head(4)

                                          amendities availableDts        id    listingHouseType listingLoc                                          listingNm                                neighborhoodSummary numBaths numBedrooms  numBeds numGuests price reviewStar reviewTotal listingHouseTypeGroup  numBathNew  sharedBath  numGuestsNew  priceNew  availableDtsAug  availableDtsSep  availableDtsNov                                      amenityString                                       amenityBasic                                      amenityFamily                              amenityFacilities                                      amenityDining              amenityAccess                                  amenityLogistics                                          amenityBB                                      amenitySafety      amenityNotIn
0  Amenities\nBasic\nWifi\nContinuous access in t...          NaN   9013441  Entire guest suite    Seattle    Apt w/kitchen & deck 1.5 blocks from light rail                                                NaN   1 bath   1 bedroom      1.0  3 guests  $116          5         104      Entire Apartment         1.0           0           3.0     116.0              NaN              NaN              NaN  Basic\nWifi\nCable TV\nDryer\nLaptop friendly ...  Wifi\nCable TV\nDryer\nLaptop friendly workspa...  Bathtub\nChildren’s books and toys\nChildren’s...                            Free street parking  Kitchen\nCoffee maker\nCooking basics\nDishes ...  Lockbox\nPrivate entrance  Luggage dropoff allowed\nLong term stays allowed  Hangers\nHair dryer\nShampoo\nBed linens\nExtr...  Fire extinguisher\nCarbon monoxide detector\nS...  Air conditioning
1  Amenities\nBasic\nWifi\nContinuous access in t...      0,0,0,0  23073963  Entire guest suite    Seattle       Midcentury Dream near Beautiful Seward Park!  High above the shores of Lake Washington, minu...   1 bath  2 bedrooms      2.0  4 guests  $101          5           3      Entire Apartment         1.0           0           4.0     101.0              0.0              0.0              0.0  Basic\nWifi\nAir conditioning\nDryer\nLaptop f...  Wifi\nAir conditioning\nDryer\nLaptop friendly...                                            Bathtub  Free parking on premises\nFree street parking  Kitchen\nCoffee maker\nDishes and silverware\n...   Keypad\nPrivate entrance  Luggage dropoff allowed\nLong term stays allowed  Hangers\nHair dryer\nShampoo\nOutdoor\nGarden ...           Carbon monoxide detector\nSmoke detector              None
2  Amenities\nBasic\nAir conditioning\nEssentials...      0,0,0,0  25000452    Entire apartment     Tacoma  Dog-friendly retreat on 6th Ave w/ patio & hot...                                                NaN   1 bath   1 bedroom      4.0  4 guests  $113          5           9      Entire Apartment         1.0           0           4.0     113.0              0.0              0.0              0.0  Basic\nAir conditioning\nEssentials\nHeating\n...  Air conditioning\nEssentials\nHeating\nHot wat...               High chair\nPack ’n Play/travel crib              Free parking on premises\nHot tub  Coffee maker\nDishes and silverware\nDishwashe...  Lockbox\nPrivate entrance                                              None     Hair dryer\nShampoo\nOutdoor\nPatio or balcony  Fire extinguisher\nCarbon monoxide detector\nS...            Washer
3  Amenities\nBasic\nWifi\nContinuous access in t...      0,2,8,0  10362672        Entire house    Seattle                    Garden entrance basement studio  Central area is 10 minutes from downtown, Capi...   1 bath      Studio      2.0  2 guests   $90          5          76          Entire House         1.0           0           2.0      90.0              2.0              8.0              0.0  Basic\nWifi\nDryer\nLaptop friendly workspace\...  Wifi\nDryer\nLaptop friendly workspace\nWasher...                                               None  Free parking on premises\nFree street parking  Kitchen\nCoffee maker\nDishes and silverware\n...  Lockbox\nPrivate entrance  Luggage dropoff allowed\nLong term stays allowed  Hangers\nHair dryer\nShampoo\nBed linens\nExtr...  Carbon monoxide detector\nSmoke detector\nFirs...  Air conditioning

In [ ]:
##write the file back 
listingDt.to_csv("data/seattle_individual_listing_details_cleaned.csv", sep='|', encoding='utf-8')